.s-container {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.s-box {
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 1350px;
  /* background-color: rgb(253, 253, 253); */
}
.s-top {
  display: flex;
  padding-top: 30px;
  width: 100%;
  justify-content: center;
}
.s-t-c-logo {
  width: 350px;
}
.s-t-l-img {
  width: 180px;
  height: 180px;
  border-radius: 95px;
  border: 2px solid rgb(100, 100, 100);
}
.s-t-r-img {
  width: 180px;
  height: 180px;
  border-radius: 95px;
  display: flex;
  border: 2px solid rgb(100, 100, 100);
}
.s-t-l-txt {
  text-transform: capitalize;
  margin: 20px 0px 0px 0px;
  font-size: 32px;
  padding: 0px;
  font-weight: 700;
  color: rgb(182, 74, 62);
}
.s-top-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
.s-t-r-txt {
  text-transform: capitalize;
  margin: 20px 0px 0px 0px;
  font-size: 32px;
  padding: 0px;
  font-weight: 700;
  color: rgb(127, 185, 247);

  /* color: rgb(164, 205, 249); */
}
.s-top-r {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.t-c-botm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-t-c-global {
  color: black;
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}
.s-t-c-gimg {
  width: 90px;
}
.s-m-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sm-new-cc {
  display: flex;
}
.sm-pro-lc-txt {
  color: rgb(182, 74, 62);
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
  width: 68px;
  margin-right: 10px;
  text-align: right;

}
.sm-pro-rc-txt {
  color: rgb(85, 165, 252);
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
  width: 60px;
}
.sm-pro {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  /* width: 500px; */
  margin-left: -10px;
}
.sm-pro2f {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 0px;
  padding-left: 3px;
  /* background-color: beige; */
}
.dif22-2{
  align-items: flex-start;
}
.s-mid {
  margin-top: 10px;
}
.sm-pro-lc-bx {
  width: 530px;
  height: 30px;
  display: flex;
  margin: 0px 5px 0px 10px;
  justify-content: flex-end;
  /* transform: scaleX(-1); */
}
.mdc-linear-progress__buffer{
    /* background-color: rgb(242, 242, 242); */
    background-color: transparent;
}
.sm-pro-rc-bx {
  width: 530px;
  height: 30px;
  margin: 0px 10px 0px 5px;
}
.sm-pro-lc-bx .mdc-linear-progress__bar-inner {
  background-color: rgb(182, 74, 62);
  position: absolute;
}
.sm-pro-rc-bx .mdc-linear-progress__bar-inner {
  background-color: rgb(127, 185, 247);
  position: absolute;
}
.sm-pro-lc {
  display: flex;
  align-items: center;
  width: 545px;
  justify-content: flex-start;
}
.sm-pro-rc {
  display: flex;
  align-items: center;
  width: 545px;
  justify-content: flex-start;
}
.sm-pro2f {
  margin-left: -10px;
}
.s-m-h {
  font-weight: 700;
  margin-bottom: 5px;
}
.sm-diff {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.sm-pro2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: royalblue; */
}
.sm-pro-lc2 {
  display: flex;
  justify-content: flex-end;
  width: 450px;
}
.sm-pro-rc22 {
  width: 450px;
}
.sm-pro-rc2 {
  display: flex;
  justify-content: flex-start;
  /* background-color: sandybrown; */
}
.sm-pro-lc-bx2 {
    width: 300px;
  height: 20px;
  margin: 5px 5px;
  position: relative;
  transform: scaleX(-1);
}
.sm-pro-lc-bx22 {
  height: 20px;
  width: 400px;
  margin: 5px -5px 0px 5px;
  position: relative;
  transform: scaleX(-1);
}
.sm-pro-lc-bx22f {
  height: 20px;
  width: 300px;
  margin: 5px 12px 0px 5px;
  position: relative;
  transform: scaleX(-1);
}
.sm-pro-lc-bx22f .mdc-linear-progress__bar-inner {
  background-color: rgb(182, 74, 62);
}
.sm-pro-lc-bx2 .mdc-linear-progress__bar-inner {
  background-color: rgb(182, 74, 62);
}
.sm-pro-lc-bx22 .mdc-linear-progress__bar-inner {
  background-color: rgb(182, 74, 62);
}

.sm-pro-rc-bx2 {
  height: 20px;
  width: 300px;
  margin: 5px 5px !important;
}
.sm-pro-rc-bx2 .mdc-linear-progress__bar-inner {
  background-color: rgb(127, 185, 247);
}
.sm-pro-rc22 {
  width: 450px;

  height: 10px;
}
.dif-bb {
  display: flex;
  justify-content: center;
  /* background-color: rosybrown; */
}
.sm-pro-rc-txt2 {
  color: rgb(127, 185, 247);
  margin-top: 7px;
  position: absolute;
}
.sm-pro-lc-txt2 {
  color: rgb(182, 74, 62);
  margin-top: 2px;
  /* margin-right: -150px; */
}
.sm-pro-rc-txt22 {
  color: rgb(127, 185, 247);
  margin-top: 7px;
  position: absolute;
}
.sm-pro-lc-txt22 {
  color: rgb(182, 74, 62) ;
  margin-top: 2px;
}
.h4-dd {
  font-weight: 700;
  /* margin-top: -15px ; */
  letter-spacing: 0rem;
}
.sm-pro-lc-bxff {
  width: 530px;
  margin-right:12px;
  height: 30px;
}
.sm-pro-lc-bxff .mdc-linear-progress__bar-inner {
  background-color: rgb(182, 74, 62);
}
.sm-pro-lc-bxff2 {
  width: 450px;
  height: 30px;
  margin: 0px 10px;
}
.sm-pro-lc-bxff2 .mdc-linear-progress__bar-inner {
  background-color: rgb(127, 185, 247);
}
.f-c-footer {
  display: flex;
  justify-content: center;
}
.fc-icon1 {
  width: 200px;
  margin: 20px 10px;
}
.downl-r{
  margin: 0px 0px 5px 10px;
}

.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #838383;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
  text-indent: 15px;
  border-color: transparent;
  margin: 0px 10px 10px 10px;
}

.buttonDownload:hover {
	background-color: #333;
  color: white;
  transition: 0.4s;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: white;
}

.buttonDownload:hover:after {
	border-top-color: white;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}